/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/reset.h>

#define DEFAULT 0
#define NUM 1
#define SYM 2
#define FUNC 3

#define ______ &trans

&mt {
  tapping-term-ms = <200>;
  flavor = "tap-preferred";
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <NUM SYM>;
            then-layer = <FUNC>;
        };
    };
    behaviors {

        // Home row mods
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    /*                KEY POSITIONS
     ╭────────────────────╮ ╭────────────────────╮
     │  0   1   2   3   4 │ │  5   6   7   8   9 │
     │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
     │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
     ╰───────╮ 30  31  32 │ │ 33  34  35╭────────╯
             ╰────────────╯ ╰───────────╯            */

    combos {
        compatible = "zmk,combos";

        // J + K = ESC
        jk_esc {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&kp ESC>;
        };

        // S + D = One-shot Right Shift
        sd_osm_rshift {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&sk RSHFT>;
        };

        // Bracket combos - opening
        combo_lparen {
            timeout-ms = <50>;
            key-positions = <3 4>;
            bindings = <&kp LPAR>;
        };
        combo_lbkt {
            timeout-ms = <50>;
            key-positions = <13 14>;
            bindings = <&kp LBKT>;
        };
        combo_lbrc {
            timeout-ms = <50>;
            key-positions = <23 24>;
            bindings = <&kp LBRC>;
        };

        // Bracket combos - closing
        combo_rparen {
            timeout-ms = <50>;
            key-positions = <5 6>;
            bindings = <&kp RPAR>;
        };
        combo_rbkt {
            timeout-ms = <50>;
            key-positions = <15 16>;
            bindings = <&kp RBKT>;
        };
        combo_rbrc {
            timeout-ms = <50>;
            key-positions = <25 26>;
            bindings = <&kp RBRC>;
        };

        // L + ; = '
        combo_sqt {
            timeout-ms = <50>;
            key-positions = <18 19>;
            bindings = <&kp SQT>;
        };
    };

    macros {
        // Ctrl+Shift+Tab (browser tab back)
        lcs_tab: lcs_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                       <&macro_tap &kp TAB>,
                       <&macro_release &kp LSHFT &kp LCTRL>;
        };

        // Screenshot (Shift+Gui+4)
        screenshot: screenshot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LS(N4))>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "DEFAULT";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &kp A         &kp S         &kp D         &kp F         &kp G             &kp H         &kp J         &kp K         &kp L       &kp SEMI
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &hm LSHFT Z   &hm LALT X   &hm LCTRL C   &hm LGUI V      &kp B             &kp N      &hm RGUI M  &hm RCTRL COMMA &hm RALT DOT  &hm RSHFT FSLH
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                      &kp LALT      &mo NUM    &hm LGUI TAB                   &lt SYM SPACE &hm LCTRL BSPC &hm RSHFT ENTER
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };
        num_layer {
            label = "NUM";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       &kp EXCL      &kp AT      &kp STAR     &kp GRAVE    &kp TILDE           &kp N7        &kp N8        &kp N9       &kp PLUS       &none
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &kp HASH     &kp SQT      &kp DQT      &kp MINUS    &kp EQUAL           &kp N4        &kp N5        &kp N6      &kp MINUS    &kp COLON
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &kp UNDER    &kp DLLR    &kp PRCNT    &kp CARET     &kp AMPS            &kp N1        &kp N2        &kp N3       &kp BSLH       &none
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                   ______        ______        ______            ______       &kp N0       &kp DOT
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };
        sym_layer {
            label = "SYM";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        &none         &none         &none         &none         &none          &lcs_tab    &kp LG(LEFT)  &kp LG(RIGHT)  &kp LC(TAB)   &screenshot
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp CAPS   &msc SCRL_LEFT &msc SCRL_DOWN &msc SCRL_UP &msc SCRL_RIGHT    &kp LEFT      &kp DOWN       &kp UP       &kp RIGHT    &kp LG(C)
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp LSHFT       &none         &none      &mkp RCLK     &mkp LCLK      &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_UP &mmv MOVE_RIGHT &kp LG(V)
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                   ______        ______        ______            ______        ______        ______
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        func_layer {
            label = "FUNC";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       &kp F1        &kp F2        &kp F3        &kp F4        &kp F5         &bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2   &bootloader
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &kp F6        &kp F7        &kp F8        &kp F9       &kp F10        &kp C_MUTE   &kp C_VOL_DN  &kp C_VOL_UP    &kp C_PP     &sys_reset
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &kp F11       &kp F12        &none         &none         &none           &none      &kp C_PREV    &kp C_NEXT    &kp C_STOP       &none
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                   ______        ______        ______            ______        ______        ______
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };
    };
};
