/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/reset.h>

#define DEFAULT 0
#define NUM 1
#define SYM 2
#define NAV 3

#define ______ &trans

/ {
    behaviors {
        // Home row mods
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        // One-shot shift
        os_shft: one_shot_shift {
            compatible = "zmk,behavior-one-shot";
            #binding-cells = <1>;
            bindings = <&kp>;
        };
        // Tap dance for SQT/DQT
        sqt_dqt: tap_dance_sqt_dqt {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SQT>, <&kp DQT>;
        };
    };

    /*                KEY POSITIONS
     ╭────────────────────╮ ╭────────────────────╮
     │  0   1   2   3   4 │ │  5   6   7   8   9 │
     │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
     │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
     ╰───────╮ 30  31  32 │ │ 33  34  35╭────────╯
             ╰────────────╯ ╰───────────╯            */

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <5 25>;
            bindings = <&kp ESC>;
        };
        combo_sqt_dqt {
            timeout-ms = <50>;
            key-positions = <6 9>;
            bindings = <&sqt_dqt>;
        };
        combo_os_shft {
            timeout-ms = <50>;
            key-positions = <12 23>;
            bindings = <&os_shft LSHFT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "DEFAULT";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        &kp Q       &kp W         &kp F          &kp P          &kp B             &kp J         &kp L         &kp U         &kp Y       &kp SEMI
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &kp A       &kp R         &kp S          &kp T          &kp G             &kp M         &kp N         &kp E         &kp I       &kp O
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &kp Z       &kp X         &kp C          &kp D          &kp V             &kp K         &kp H         &kp COMMA     &kp DOT     &kp FSLH
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                &kp TAB       &lt NAV 0      &kp ENTER         &kp SPACE     &lt SYM 0     &kp BSPC
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        num_layer {
            label = "NUM";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        &kp N1      &kp N2        &kp N3         &kp N4         &kp N5            &kp N6        &kp N7        &kp N8        &kp N9      &kp N0
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &kp MINUS   &kp EQUAL     &kp LBRC       &kp RBRC       &kp BSLH          &kp GRAVE     &kp TILDE     &kp PLUS      &kp UNDERSCORE &kp PIPE
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &kp DOT     &kp COMMA     &kp LPAR       &kp RPAR       &kp SLASH         &kp AMPS      &kp CARET     &kp DLLR      &kp PRCNT   &kp STAR
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                &______       &______        &______           &______       &______       &______
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        sym_layer {
            label = "SYM";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        &kp EXCL    &kp AT        &kp HASH       &kp DLLR       &kp PRCNT         &kp CARET     &kp AMPS      &kp STAR      &kp LPAR    &kp RPAR
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &kp UNDERSCORE &kp PLUS   &kp MINUS      &kp EQUAL      &kp PIPE          &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT   &kp BSPC
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &kp GRAVE   &kp TILDE     &kp LBRC       &kp RBRC       &kp BSLH          &kp HOME      &kp PGDN      &kp PGUP      &kp END     &kp DEL
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                &______       &______        &______           &______       &______       &______
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        nav_layer {
            label = "NAV";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        &kp F1      &kp F2        &kp F3         &kp F4         &kp F5            &kp F6        &kp F7        &kp F8        &kp F9      &kp F10
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &kp LALT    &kp LCTRL     &kp LGUI       &kp LSHFT      &kp CAPSLOCK      &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT   &kp BSPC
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &kp F11     &kp F12       &kp PSCRN      &kp SLCK       &kp PAUSE_BREAK   &kp HOME      &kp PGDN      &kp PGUP      &kp END     &kp DEL
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                &______       &______        &______           &______       &______       &______
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };
    };
};